<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单导入</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="orderFormLeadingSuccess.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="lifor">首页</li>
			<li class="lifor">
				<span>机型管理</span>
				<ul class="li-list">
					<li>机型维护</li>
					<li>特种机型分配</li>
				</ul>
			</li>
			<li class="lifor on">
				<span>订单管理</span>
				<ul class="li-list">
					<li>订单批量导入</li>
					<li>订单提货数据维护</li>
				</ul>
			</li>
			<li class="lifor">订金管理</li>
			<li class="lifor">政策管理</li>
			<li class="lifor">统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	
	<div class="content">
		<!-- 我的位置 -->
		<div class="my-location">
			<div class="location">
				<label>我的位置： </label>
				<p class="location-p">订单管理  > <span class="red">订单批量导入</span></p>
			</div>
		</div>
		<div class="success">
			<img src="../../resources/images/icon-success.png" class="suc-img">
			<div class="wrds">
				<p class="p1">订单终端文件导入完成！</p>
				<p class="p2">可到<span>统计查贸易</span>》<span class="red">订单综合查询</span>查看订单信息。</p>
				<button class="btn">继续订单导入</button>
			</div>
		</div>
	</div>
	
</body>
</html>