.red{
	color: #f82134;
}
.green{
	color: #46b02e;
}
/*顶部*/
.toper{
	width: 100%;
	border-bottom: 2px solid #ff0404;
}
.top-header{
	width: 1180px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;
}
.top-header img{
	margin: 5px 130px 0 0;
}
.iterms li{
	float: left;
	padding: 0 25px;
	font-size: 14px;
	color: #000;
}
.user a{
	float: right;
	width: 38px;
	height: 20px;
	line-height: 20px;
	padding-left: 12px;
	margin-top: 9px;
	color: #000;
	border-left: 1px solid #dadada;
	text-decoration: none;
}
.select-info{
	float: left;
	padding: 0 10px;
}
/*顶部*/

/*头部切换*/
.header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.header img{
	margin-top: 10px;
}
.tab-change{
	margin-top: 26px;
}
.tab-change .lifor{
	position: relative;
	float: left;
	height: 45px;
	padding: 0 23px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
}
.tab-change .lifor.on{
	color: #ff0404;
}
.tab-change .lifor.on:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff0404;
}
.tab-change .lifor:hover .li-list{
	display: block;
}
.tab-change .lifor .li-list{
	position: absolute;
	display: none;
	left: -20%;
	top: 46px;
	width: 140%;
	background: #f8f8f8;
	color: #000;
	box-shadow: 0px 0px 10px #bcbcbc;
}
.tab-change .lifor .li-list li{
	height: 45px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.tab-change .lifor .li-list li:hover{
	color: #fff;
	background-color: #f13939;
}
/*头部切换*/

.my-location{
	height: 30px;
	line-height: 30px;
	background-color: #f6f6f6;
}
.location{
	width: 1160px;
	margin: 0 auto;
}
.my-location label{
	color: #aaa;
}
.location-p{
	display: inline-block;
}

.success{
	display: flex;
	margin: 128px auto 0;
}

.success .wrds .p1{
	font-size: 16px;
}











