<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单提货数据维护-提货确认</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="orderPickupGoodsConfirm.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="lifor">首页</li>
			<li class="lifor on">
				<span>机型管理</span>
				<ul class="li-list">
					<li>机型维护</li>
					<li>特种机型分配</li>
				</ul>
			</li>
			<li class="lifor">
				<span>订单管理</span>
				<ul class="li-list">
					<li>订单批量导入</li>
					<li>订单提货数据维护</li>
				</ul>
			</li>
			<li class="lifor">订金管理</li>
			<li class="lifor">政策管理</li>
			<li class="lifor">统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	<!-- 中间背景图片 -->
	<div class="img-bg">
		<div class="info">
			<p class="p-titl">2018夏季VIVO品牌新品订货会即将开启</p>
			<div class="activity">
				<p>活动日期：2018/04/10-2018/04/11</p>
				<p>活动地址：XXX市XXXXXXXXX街XXX路XX号</p>
			</div>
		</div>
	</div>
	<!-- 中间背景图片 -->
	
	<div class="content">
		<!-- 我的位置 -->
		<div class="my-location">
			<div class="location">
				<label>我的位置： </label>
				<p class="location-p">订单管理  >订单查询  > <span class="red">订单提货确认</span></p>
			</div>
		</div>
		<!-- 订单付款信息 -->
		<div class="order-pay-info">
			<p class="p1"><label>订单付款状态：</label><span class="red">未付定金</span></p>
			<p class="p2"><label>订单时间：</label>2018-04-01</p>
		</div>

		<div class="orderInfo">
			<div class="tel-model">订单信息</div>
			<ul class="info-list fn-clear">
				<li class="info-list-li fn-left fn-clear">
					<div class="info-detail fn-left">  
						<p class="detail-p"><span>零售商名称：</span>零售商AAAAAAAAA</p>
						<p class="detail-p"><span>零售商类型：</span>散户</p>       				
						<p class="detail-p"><span>联系电话：</span>180123456778</p>				
					</div>
					<div class="info-detail fn-left">
						<p class="detail-p"></p>
						<p class="detail-p"><span>所属省分：</span>江苏</p>
						<p class="detail-p"><span>联系人：</span>XXXX</p>
					</div>
				</li>
				<li class="info-list-li fn-right fn-clear">                                               
					<div class="info-detail fn-left">                                                     
        				<p class="detail-p"><span>供货商名称：</span>零售商CCCCCCC</p>
        				<p class="detail-p"><span>供货商类型：</span>散户</p>
						<p class="detail-p"><span>联系电话：</span>180123411111</p>
								
					</div>
					<div class="info-detail fn-left">
						<p class="detail-p"></p>
						<p class="detail-p"><span>所属省分：</span>江苏</p>
						<p class="detail-p"><span>联系人：</span>XXXX</p>		
					</div>
				</li>				
			</ul>
			<div class="info-list">       
				<div class="info-table fn-clear">                                                     
    				<p class="detail-table fn-left"><span>订单编号：</span>1000000010</p>
					<p class="detail-table fn-left"><span>创建时间：</span>2018-04-06 15:02:46</p>
					<p class="detail-table fn-left"><span>付款时间：</span></p>
					<p class="detail-table fn-left"><span>提货时间：</span></p>				
				</div>
				<table width="100%" cellspacing="0" cellpadding="0" class="table">
					<thead> 
						<tr>
							<th width="30%">终端名称</th>
							<th width="18%">终端品牌</th>
							<th width="18%">终端型号</th>
							<th width="15%">终端价格</th>
							<th>订购数量</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="td-first">							
								<p class="p-img"><img src="../../resources/images/telephone1.jpg"></p>
								<p class="tel-info">
									<a href="" class="tel-href">VIVO-X20全面屏 美颜拍照手机美颜拍照手机</a>
									<label class="tags">
										<!-- 社采或者集采 -->
										<span class="sc">社采</span>
										<!-- <span class="jc">集采</span> -->
										<span class="mj">满减
											<label class="small-pop">
												<label>满<b class="red">10000</b>减<b class="red">200</b></label>
												<label>满<b class="red">20000</b>减<b class="red">400</b></label>
											</label>
										</span>
										<span class="spec">特</span>									
									</label>		
								</p>						
							</td>
							<td>VIVO</td>
							<td>VIVO-X20</td>
							<td>集采</td>
							<td>￥1890</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="order-num">
		<span class="wrds fn-left">提货数量：</span><input type="text" name="" class="fn-left">
		<button class="button fn-left">确认提货</button>
		<button class="button cancel-btn fn-left">取消提货</button>
	</div>
</body>
</html>