.red{
	color: #f82134;
}
.green{
	color: #46b02e;
}
/*顶部*/
.toper{
	width: 100%;
	border-bottom: 2px solid #ff0404;
}
.top-header{
	width: 1180px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;
}
.top-header img{
	margin: 5px 130px 0 0;
}
.iterms li{
	float: left;
	padding: 0 25px;
	font-size: 14px;
	color: #000;
}
.user a{
	float: right;
	width: 38px;
	height: 20px;
	line-height: 20px;
	padding-left: 12px;
	margin-top: 9px;
	color: #000;
	border-left: 1px solid #dadada;
	text-decoration: none;
}
.select-info{
	float: left;
	padding: 0 10px;
}
/*顶部*/

/*头部切换*/
.header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.header img{
	margin-top: 10px;
}
.tab-change{
	margin-top: 26px;
}
.tab-change .lifor{
	position: relative;
	float: left;
	height: 45px;
	padding: 0 23px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
}
.tab-change .lifor.on{
	color: #ff0404;
}
.tab-change .lifor.on:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff0404;
}
.tab-change .lifor:hover .li-list{
	display: block;
}
.tab-change .lifor .li-list{
	position: absolute;
	display: none;
	left: -20%;
	top: 46px;
	width: 140%;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	background: #f8f8f8;
	color: #000;
	box-shadow: 0px 0px 10px #bcbcbc;
}
.tab-change .lifor .li-list li{
	height: 45px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.tab-change .lifor .li-list li:hover{
	color: #fff;
	background-color: #f13939;
}
/*头部切换*/

/*中间背景图片*/
.img-bg{
	width: 100%;
	height: 200px;
	background: #e4273f;
}
.img-bg .info{
	width: 1036px;
	height: 200px;
	margin: 0 auto;
	background: #e4273f url(../../resources/images/index-bg2.jpg) no-repeat right bottom;	
	overflow: hidden;
}
.img-bg .info .p-titl{
	margin: 62px 0 0 0;
	font-size: 22px;
	color: #fcfdff;
}
.img-bg .info .activity{
	width: 306px;
	margin: 10px 0 0 0;
	line-height: 18px;
	font-size: 12px;
	color: #fcfdff;
	text-align: center;
}
/*中间背景图片*/


.my-location{
	height: 30px;
	line-height: 30px;
	background-color: #f6f6f6;
}
.location{
	width: 1160px;
	margin: 0 auto;
}
.my-location label{
	color: #aaa;
}
.location-p{
	display: inline-block;
}

.search-cnt{
	width: 1154px;
	height: 70px;
	margin: 20px auto;
	line-height: 70px;
	background-color: #fcfcfc;
	font-size: 14px;
	color: #595959;
	border: 1px solid #e8e8e8;
}
.search-cnt .wrds{
	display: inline-block;
	margin-left: 8px;
	vertical-align: top;
}
.dao-ru{
	position: relative;
	display: inline-block;
	width: 416px;
	height: 35px;
	margin-top: 15px;
	border: 1px solid #d5d5d5;
	background-color: #fff;
}
.dao-ru span{
	width: 331px;	
	padding: 0 13px;
	line-height: 35px;
}
.dao-ru label{
	width: 58px;
	height: 35px;
	line-height: 35px;
	border-left: 1px solid #d5d5d5;
	background-color: #f8f8f8;
	text-align: center;
}
.file{
	position: absolute;
	width: 58px;
	height: 35px;
	top: 0;
	right: 0;
	opacity: 0;
}
.leading-btn{
	display: inline-block;
	height: 36px;
	padding: 0 35px;
	margin: 16px 0 0 10px;
	border: 0;
	background-color: #f82134;
	color: #fff;
	font-size: 14px;
	vertical-align: top;
}
.leading-btn i.iconfont{
	font-size: 18px;
	vertical-align: middle;
}
.leading-btn.load{
	padding: 0 15px;
	margin-right: 20px;
}

.tabs-list{
	width: 1160px;
	margin: 0 auto;
}
.order-titl{
	height: 28px;
	margin: 15px 0 8px;
	line-height: 28px;
}
.order-titl .tel-model{
	min-width: 5px;
	min-height: 20px;
	background: url(../../resources/images/red-line.png) no-repeat 0 center;
	padding-left: 10px;
	font-size: 18px;
	color: #000;
	font-weight: 800;
}
.order-titl .result-wrds b{
	font-size: 14px;
	margin: 0 3px;
}
.table{
	border: 1px solid #e3e3e3;
}
.table thead tr{
	height: 32px;
	background-color: #efefef;
	border-bottom: 1px solid #d1d1d1;
	color: #131212;
}
.table thead tr th{
	text-align: center;
	border-right: 1px solid #d1d1d1;
}
.table tbody tr{
	height: 32px;
	border-bottom: 1px solid #e3e3e3;
}
.table tbody tr td{
	text-align: center;
	border-right: 1px solid #e3e3e3;
}
.table tbody tr:nth-of-type(2n){
	background-color: #fcfcfc;
}
.table td i.iconfont{
	font-size: 18px;
}

.bottom-btns{
	margin-top: 40px;
	text-align: center;
}
.bottom-btns button{
	height: 34px;
	padding: 0 32px;
	margin-right: 32px;
	background-color: #f01919;
	line-height: 34px;
	border: 0;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
}
.bottom-btns .reset-btn{
	margin-right: 0;
}
