/**
 * Auth 丁少华
 * Date 2016-09-30
 */

/*@font-face {
  font-family: 'iconfont';  /* project id 432495 */
  /*src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}*/

@font-face {
  font-family: 'iconfont';  /* project id 644783 */
  src: url('http://at.alicdn.com/t/font_644783_4403cf6dg8zuayvi.eot');
  src: url('http://at.alicdn.com/t/font_644783_4403cf6dg8zuayvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_644783_4403cf6dg8zuayvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_644783_4403cf6dg8zuayvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_644783_4403cf6dg8zuayvi.svg#iconfont') format('svg');
}
.iconfont {
    font-family: 'iconfont';
    font-size: 14px;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'PingFang SC', 'STHeiti', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px;
}
textarea{
    resize: none;
}
input,
textarea {
    border: 0; /* 方法1 */
    -webkit-appearance: none; /* 方法2 */
}
.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-clear:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
}

.overflow-handle {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* ng-cloak修复闪跳 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}
