/*顶部*/
.toper{
	width: 100%;
	border-bottom: 2px solid #ff0404;
}
.top-header{
	width: 1180px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;
}
.top-header img{
	margin: 5px 130px 0 0;
}
.iterms li{
	float: left;
	padding: 0 25px;
	font-size: 14px;
	color: #000;
}
.user a{
	float: right;
	width: 38px;
	height: 20px;
	line-height: 20px;
	padding-left: 12px;
	margin-top: 9px;
	color: #000;
	border-left: 1px solid #dadada;
	text-decoration: none;
}
.select-info{
	float: left;
	padding: 0 10px;
}
/*顶部*/
/*头部切换*/
.header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.header img{
	margin-top: 10px;
}
.tab-change{
	margin-top: 26px;
}
.tab-change li{
	position: relative;
	float: left;
	height: 45px;
	padding: 0 23px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
}
.tab-change li.on{
	color: #ff0404;
}
.tab-change li.on:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff0404;
}
/*头部切换*/
/*中间背景图片*/
.img-bg{
	width: 100%;
	height: 341px;
	background: #8252fe url(../images/index-bg.jpg) no-repeat center 0;	
}
.img-bg .info{
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}
.img-bg .info .p-titl{
	margin: 82px 0 0 74px;
	font-size: 30px;
	color: #fcfdff;
}
.img-bg .info .activity{
	margin: 62px 0 0 156px;
	line-height: 34px;
	font-size: 16px;
	color: #0053a5;
}
/*中间背景图片*/

.content{
	width: 100%;
}
.mid-cnt{
	width: 1200px;
	margin: 0 auto;
}
.mid-cnt .tit{
	position: relative;
	height: 46px;	
	border-bottom: 1px solid #d7d7d7;
	font-size: 16px;
	text-align: center;
}
.mid-cnt .tit span{
	position: relative;
	display: block;
	width: 82px;
	margin: 0 auto;
	line-height: 46px;
}
.mid-cnt .tit span:after{
	position: absolute;
	content: '';
	bottom: -2px;
	left: 13px;
	width: 58px;
	height: 4px;
	background-color: #ff0404;
}
.cnt-info{
	width: 1084px;
	margin: 16px auto;
}
.cnt-info label{
	display: block;
	line-height: 28px;
	text-indent: 32px;
	font-size: 14px;
}
.red{
	color: #ff0404;
}
.stores{
	width: 100%;
	margin-top: 42px;
}
.stores-ui{
	width: 432px;
	margin: 0 auto;	
}
.stores-ui li{
	float: left;
	width: 50%;
	height: 42px;
	background-color: #dadcdf;
	line-height: 42px;
	font-size: 16px;
	text-align: center;
}
.stores-ui li.on{
	position: relative;
	background-color: #f5f5f5;
	color: #ff0404;
}
.stores-ui li.on:after{
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #ff0404;
}
.stores-tab{
	width: 100%;
	padding: 30px 0;
	background-color: #f5f5f5;
}
.stores-tab table{
	width: 1028px;	
	margin: 0 auto;
	border: 1px solid #e3e3e3;
	border-bottom: 0;
	border-right: 0;
	background-color: #fff;
}
.stores-tab table tr{
	height: 34px;
}
.stores-tab table tr th{
	background-color: #efefef;
	color: #000;
}
.stores-tab table tr th, .stores-tab table tr td{
	border: 1px solid #e3e3e3;
	border-top: 0;
	border-left: 0;
	text-align: center;
}
.stores-tab table tr td{
	color: #151515;
}
.stores-tab table tr:nth-of-type(2n){
	background-color: #fcfcfc;
}





