<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订货会首页</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="top-header">
		<img src="../../resources/images/small-logo.png" class="fn-left">
		<ul class="iterms fn-left">
			<li>订货会管理</li>
			<li>产品管理</li>
		</ul>
		<div class="user fn-right">
			<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
			<a href="javasript:void(0)">退出</a>
		</div>
	</div>
	<!-- 顶部 -->
</body>
</html>