<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>机型管理</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/modelManage.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="on">首页</li>
			<li>机型管理</li>
			<li>订单管理</li>
			<li>订金管理</li>
			<li>政策管理</li>
			<li>统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	<!-- 中间背景图片 -->
	<div class="img-bg">
		<div class="info">
			<p class="p-titl">2018夏季VIVO品牌新品订货会即将开启</p>
			<div class="activity">
				<p>活动日期：2018/04/10-2018/04/11</p>
				<p>活动地址：XXX市XXXXXXXXX街XXX路XX号</p>
			</div>
		</div>
	</div>
	<!-- 中间背景图片 -->
	
	<div class="content">
		<div class="my-location">
			<div class="location">
				<label>我的位置： </label>
				<p class="location-p">机型管理  > <span class="red">机型维护</span></p>
			</div>
		</div>
		<div class="search">
			<div class="selections">
				<span class="wrds">集采<i class="iconfont"> &#xe655;</i></span>
				<ul class="select-list">
					<li>集采</li>
					<li>社采</li>
				</ul>
			</div>
			<input type="text" class="search-input" placeholder="输入终端名称搜索">
			<button class="search-btn">搜索</button>
		</div>
	</div>
	
</body>
</html>