<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订货会首页</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/orderGoodsIndex.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="lifor">首页</li>
			<li class="lifor on">
				<span>机型管理</span>
				<ul class="li-list">
					<li>机型维护</li>
					<li>特种机型分配</li>
				</ul>
			</li>
			<li class="lifor">订单管理</li>
			<li class="lifor">订金管理</li>
			<li class="lifor">政策管理</li>
			<li class="lifor">统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	<!-- 中间背景图片 -->
	<div class="img-bg">
		<div class="info">
			<p class="p-titl">2018夏季VIVO品牌新品订货会</p>
			<div class="activity">
				<p>活动日期：2018/04/10-2018/04/11</p>
				<p>活动地址：XXX市XXXXXXXXX街XXX路XX号</p>
			</div>
		</div>
	</div>
	<!-- 中间背景图片 -->
	
	<!-- 内容 -->
	<div class="content">
		<div class="mid-cnt">
			<p class="tit"><span>订货会介绍</span></p>
			<div class="cnt-info">
				<label>4月22日，中国电信股份有限公司XX分公司2017春季订货会在石家庄隆重召开。本次盛会由中国电信XX分公司举办，22家国内知名品牌手机厂商和全省上百家手机分销商、零售商代表等2000余人均到场参观交流、洽商合作，盛况空前。</label>
				<label>4本次订货会突出两大主题： <span class="red">全网通天下，生态赢未来。</span></label>
				<label><span class="red">全网通天下，销售更无忧</span></label>
				<label>XX电信传承创业、创新、创造的企业文化，推出六模全网通，共建互联网生态。助力实体经济振兴和产业链发展壮大，构建良好的终端产业生态。</label>
				<label>XX电信作为省内通信行业翘楚，本次订货会吸引了华为、三星、OPPO、VIVO、酷派、金立、荣耀、小米、魅族等二十二家知名厂商参展，各厂家纷纷携多款全网通手机终端亮相。终端价位从高到低覆盖完全，周边产品和业务选择多样化，手机终端的竞争力扩展至农村，实现了产业链的多元发展。</label>
			</div>	
		</div>
		<div class="stores">
			<ul class="stores-ui fn-clear"><li class="on">参会供货商</li><li>参会零售商</li></ul>
			<div class="stores-tab">
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>  
							<th>省份</th>
							<th>地市</th>
							<th>供货商名称</th>
							<th>供货商类型</th>
							<th>联系人</th>
							<th>联系电话</th>
							<th>公司电话</th>
							<th>公司传真</th>
						</tr>
					</thead>
					<tbody>    
						<tr>
							<td>江苏省</td>
							<td>南京市</td>
							<td>供货商AAAAA</td>
							<td>省代</td>
							<td>王小明</td>
							<td>180123456789</td>
							<td>025-5800000000</td>
							<td>025-5800000000</td>
						</tr>
						<tr>
							<td>江苏省</td>
							<td>南京市</td>
							<td>供货商AAAAA</td>
							<td>省代</td>
							<td>王小明</td>
							<td>180123456789</td>
							<td>025-5800000000</td>
							<td>025-5800000000</td>
						</tr>
						<tr>
							<td>江苏省</td>
							<td>南京市</td>
							<td>供货商AAAAA</td>
							<td>省代</td>
							<td>王小明</td>
							<td>180123456789</td>
							<td>025-5800000000</td>
							<td>025-5800000000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>