.red{
	color: #f82134;
}
.green{
	color: #46b02e;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
/*顶部*/
.toper{
	width: 100%;
	border-bottom: 2px solid #ff0404;
}
.top-header{
	width: 1180px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;
}
.top-header img{
	margin: 5px 130px 0 0;
}
.iterms li{
	float: left;
	padding: 0 25px;
	font-size: 14px;
	color: #000;
}
.user a{
	float: right;
	width: 38px;
	height: 20px;
	line-height: 20px;
	padding-left: 12px;
	margin-top: 9px;
	color: #000;
	border-left: 1px solid #dadada;
	text-decoration: none;
}
.select-info{
	float: left;
	padding: 0 10px;
}
/*顶部*/

/*头部切换*/
.header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.header img{
	margin-top: 10px;
}
.tab-change{
	margin-top: 26px;
}
.tab-change .lifor{
	position: relative;
	float: left;
	height: 45px;
	padding: 0 23px;
	line-height: 45px;
	font-size: 14px;
	color: #000;
}
.tab-change .lifor.on{
	color: #ff0404;
}
.tab-change .lifor.on:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #ff0404;
}
.tab-change .lifor:hover .li-list{
	display: block;
}
.tab-change .lifor .li-list{
	position: absolute;
	display: none;
	left: -20%;
	top: 46px;
	width: 140%;
	background: #f8f8f8;
	color: #000;
	box-shadow: 0px 0px 10px #bcbcbc;
}
.tab-change .lifor .li-list li{
	height: 45px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.tab-change .lifor .li-list li:hover{
	color: #fff;
	background-color: #f13939;
}
/*头部切换*/

/*中间背景图片*/
.img-bg{
	width: 100%;
	height: 200px;
	background: #e4273f;
}
.img-bg .info{
	width: 1036px;
	height: 200px;
	margin: 0 auto;
	background: #e4273f url(../../resources/images/index-bg2.jpg) no-repeat right bottom;	
	overflow: hidden;
}
.img-bg .info .p-titl{
	margin: 62px 0 0 0;
	font-size: 22px;
	color: #fcfdff;
}
.img-bg .info .activity{
	width: 306px;
	margin: 10px 0 0 0;
	line-height: 18px;
	font-size: 12px;
	color: #fcfdff;
	text-align: center;
}
/*中间背景图片*/


.my-location{
	height: 30px;
	line-height: 30px;
	background-color: #f6f6f6;
}
.location{
	width: 1160px;
	margin: 0 auto;
}
.my-location label{
	color: #aaa;
}
.location-p{
	display: inline-block;
}
.provin{
	width: 1154px;
	height: 70px;
	margin: 50px auto;
	line-height: 70px;
	border: 1px solid #e8e8e8;
	font-size: 14px;
}
.provin .pro-left{
	position: relative;
	width: 212px;
	text-indent: 34px;
	border-right: 1px solid #e8e8e8;
	background-color: #fcfcfc;
}
.provin .pro-left:after{
	position: absolute;
	content: '';
	top: 27px;
	right: -10px;
	width: 10px;
	height: 15px;
	background: url(../../resources/images/arrow-right.png) no-repeat;
}
.provin .pro-mid{
	margin-left: 37px;
}
.edit-btn{
	height: 25px;
	padding: 0 12px;
	margin: 22px 0 0 140px;
	line-height: 25px;
	color: #e52840;
	border: 1px solid #e52840;
	border-radius: 3px;
}

.provin-edit{
	width: 100%;
}
.select-deposit{
	width: 914px;
	margin: 30px auto;
}
.select-deposit .sel-de-p{
	position: relative;
	width: 80px;
	font-size: 12px;
	text-align: center;
}
.select-deposit .sel-de-p label{
	display: block;
	margin: 0 auto;
}
.select-deposit .sel-de-p.red .num{
	background-color: #e52941;
	color: #fff;
}
.sel-de-p .wrds{
	line-height: 26px;
}
.select-deposit .sel-de-p .iconfont{
	font-size: 20px;
}
.select-deposit .dot{
	width: 371px;
	height: 11px;
	margin: 6px -20px 0 -20px;
	background: url(../../resources/images/dot-arrow.png) no-repeat;
}
.select-deposit .greydot{
	width: 371px;
	height: 11px;
	margin: 6px -20px 0 -20px;
	background: url(../../resources/images/dot-arrow-grey.png) no-repeat;
}
.select-deposit .sel-de-p .num{
	width: 20px;
	height: 20px;	
	line-height: 20px;
	background-color: #dedede;
	font-size: 14px;
	color: #727272;
	text-align: center;
	border-radius: 20px;
}

.selections{
	width: 496px;
	margin: 60px auto 42px;
	font-size: 14px;
	color: #151515;
}
.select-wrds{
	line-height: 34px;
}
.select-sp{
	width: 114px;
	height: 32px;
	margin-left: 14px;
	line-height: 32px;
	border: 1px solid #b7b7b7;
	text-align: center;
	border-radius: 3px;
}
.select-sp.on{
	border: 1px solid #f01d1d;
	background: url(../../resources/images/selected-icon.png) right bottom no-repeat;
	color: #f01d1d;
}
.bottom{
	margin-top: 26px;
	border-top: 1px solid #dcdcdc;
	padding-top: 25px;
	text-align: center;
}
.button{
	height: 34px;
	padding: 0 30px;
	border: 0;
	font-size: 14px;
	background-color: #f01919;
	border-radius: 3px;
	color: #fff;
}

/* 第二步 */
.second-step .info{
	width: 1154px;
	height: 38px;
	margin: 0 auto;
	border: 1px solid #e8e8e8;
	background-color: #fcfcfc;
	line-height: 38px;
}
.tabs-list{
	width: 1118px;
	margin: 0 auto;
	padding: 12px 18px 20px;
	border: 1px solid #e8e8e8;
	border-top:0;
}
.second-step .info p{
	width: calc(50% - 94px);
	margin-left: 94px;
}
.order-titl{
	height: 28px;
	margin: 0 0 8px;
	line-height: 28px;
}
.order-titl .tel-model{
	min-width: 5px;
	min-height: 20px;
	background: url(../../resources/images/red-line.png) no-repeat 0 center;
	padding-left: 10px;
	font-size: 18px;
	color: #000;
	font-weight: 800;
}
.order-titl .result-wrds b{
	font-size: 14px;
	margin: 0 3px;
}
.table{
	border: 1px solid #e3e3e3;
}
.table thead tr{
	height: 32px;
	background-color: #efefef;
	border-bottom: 1px solid #d1d1d1;
	color: #131212;
}
.table thead tr th{
	text-align: center;
	border-right: 1px solid #d1d1d1;
}
.table tbody tr{
	height: 34px;
	border-bottom: 1px solid #e3e3e3;
}
.table tbody tr td{
	text-align: center;
	border-right: 1px solid #e3e3e3;
}
.table tbody tr:nth-of-type(2n){
	background-color: #fcfcfc;
}
.table td i.iconfont{
	font-size: 18px;
}
.table tbody tr td input{
	width: 80%;
	height: 20px;
	border: 1px solid #b3b3b3;
	text-align: center;
	color: #f02b2b;
}
/*底部按钮*/
.bottom-btns{
	margin-top: 20px;
	text-align: center;
}
.bottom-btns button{
	height: 34px;
	padding: 0 32px;
	margin-right: 32px;
	background-color: #f01919;
	line-height: 34px;
	border: 0;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
}
.bottom-btns .reset-btn{
	margin-right: 0;
}
.bottom-btns button.grey{
	background-color: #cecece;
	color: #9d9d9d;
}

/* 第三步 */
.third-step{
	width: 1028px;
	height: 168px;
	margin: 98px auto;
	border: 1px solid #e4f0e7;
	background-color: #f5fff8;
}
.success{
	width: 450px;
	margin: 16px auto 0;
}
.success .suc-img{
	margin-right: 16px;
}
.success .wrds .p1{
	margin: 20px 0 14px 0;
	font-size: 16px;
}
.success .wrds .p2{
	margin: 0 0 20px 0;
	font-size: 12px;
}
.success .wrds .p2 span{
	margin-left: 6px;
}
.success .wrds .p2 a{
	margin-left: 6px;
	margin-right: 4px;
	text-decoration: underline;
}
.button{
	height: 34px;
	padding: 0 10px;
	border: 0;
	font-size: 14px;
	background-color: #f01919;
	border-radius: 3px;
	color: #fff;
}





