<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单提货数据维护</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="depositManage.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="lifor">首页</li>
			<li class="lifor on">
				<span>机型管理</span>
				<ul class="li-list">
					<li>机型维护</li>
					<li>特种机型分配</li>
				</ul>
			</li>
			<li class="lifor">
				<span>订单管理</span>
				<ul class="li-list">
					<li>订单批量导入</li>
					<li>订单提货数据维护</li>
				</ul>
			</li>
			<li class="lifor">订金管理</li>
			<li class="lifor">政策管理</li>
			<li class="lifor">统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	<!-- 中间背景图片 -->
	<div class="img-bg">
		<div class="info">
			<p class="p-titl">2018夏季VIVO品牌新品订货会即将开启</p>
			<div class="activity">
				<p>活动日期：2018/04/10-2018/04/11</p>
				<p>活动地址：XXX市XXXXXXXXX街XXX路XX号</p>
			</div>
		</div>
	</div>
	<!-- 中间背景图片 -->
	
	<div class="content">
		<!-- 我的位置 -->
		<div class="my-location">
			<div class="location">
				<label>我的位置： </label>
				<p class="location-p">订金管理 > <span class="red">订金配置</span></p>
			</div>
		</div>
		<!-- 修改 -->
		<div class="provin" style="display:none">
			<p class="pro-left fn-left">当前省份： 江苏省</p>
			<p class="pro-mid fn-left">定金模式：----</p>
			<button class="edit-btn fn-left"><i class="iconfont">&#xe738;</i> 修改</button>
		</div>

		<div class="provin-edit">
			<div class="select-deposit">				
				<p ><label>&#xe63f;</label>选择定金模式</p>
				<span></span>
				<p ><label >2</label>配置定金</p>
				<span></span>
				<p ><label >3</label>完成</p>			
			</div>
			<div class="selections">
				<label class="select-wrds">选择定金模式：</label>
				<span class="select-sp">全额付款</span>
				<span class="select-sp">定金</span>
				<span class="select-sp">诚意金</span>
			</div>
		</div>
	</div>
</body>
</html>