<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单提货数据维护</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="depositManage.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="toper">
		<div class="top-header fn-clear">
			<img src="../../resources/images/small-logo.png" class="fn-left">
			<ul class="iterms fn-left">
				<li>订货会管理</li>
				<li>产品管理</li>
			</ul>
			<div class="user fn-right">
				<div class="select-info"><span class="name">运营商A先生，您好！</span><i class="iconfont">&#xe655;</i></div>
				<a href="javasript:void(0)">退出</a>
			</div>
		</div>
	</div>
	<!-- 顶部 -->
	<!-- 头部切换 -->
	<div class="header fn-clear">
		<img src="../../resources/images/vivo-logo.png" class="fn-left">
		<ul class="tab-change fn-right">
			<li class="lifor">首页</li>
			<li class="lifor on">
				<span>机型管理</span>
				<ul class="li-list">
					<li>机型维护</li>
					<li>特种机型分配</li>
				</ul>
			</li>
			<li class="lifor">
				<span>订单管理</span>
				<ul class="li-list">
					<li>订单批量导入</li>
					<li>订单提货数据维护</li>
				</ul>
			</li>
			<li class="lifor">订金管理</li>
			<li class="lifor">政策管理</li>
			<li class="lifor">统计管理</li>
		</ul>
	</div>
	<!-- 头部切换 -->
	<!-- 中间背景图片 -->
	<div class="img-bg">
		<div class="info">
			<p class="p-titl">2018夏季VIVO品牌新品订货会即将开启</p>
			<div class="activity">
				<p>活动日期：2018/04/10-2018/04/11</p>
				<p>活动地址：XXX市XXXXXXXXX街XXX路XX号</p>
			</div>
		</div>
	</div>
	<!-- 中间背景图片 -->
	
	<div class="content">
		<!-- 我的位置 -->
		<div class="my-location">
			<div class="location">
				<label>我的位置： </label>
				<p class="location-p">订金管理 > <span class="red">订金配置</span></p>
			</div>
		</div>
		<!-- 修改 -->
		<div class="provin" style="display:none">
			<p class="pro-left fn-left">当前省份： 江苏省</p>
			<p class="pro-mid fn-left">定金模式：----</p>
			<button class="edit-btn fn-left"><i class="iconfont">&#xe738;</i> 修改</button>
		</div>
		
		<div class="provin-edit">
			<div class="select-deposit fn-clear">				
				<p class="sel-de-p red fn-left"><label class="iconfont">&#xe6bd;</label><span class="wrds">选择定金模式</span></p>	
				<span class="dot fn-left"></span>
				<p class="sel-de-p red fn-left">
					<!-- <label class="num">2</label> -->
					<label class="iconfont">&#xe6bd;</label>
					<span class="wrds">配置定金</span>
				</p>
				<span class="dot fn-left"></span>
				<!-- <span class="greydot fn-left"></span> -->
				<p class="sel-de-p red fn-left"><label class="num">3</label><span class="wrds">完成</span></p>
			</div>

			<!-- 第一步 -->
			<div class="first-step" style="display:none">
				<ul class="selections fn-clear">
					<label class="select-wrds fn-left">选择定金模式：</label>
					<li class="select-sp fn-left">全额付款</li>
					<li class="select-sp on fn-left">定金</li>
					<li class="select-sp fn-left">诚意金</li>
				</ul>
				<div class="bottom">
					<button class="button">下一步</button>
				</div>
			</div>
			
			<!-- 第二步 -->
			<div class="second-step" style="display:none">
				<div class="info">
					<p class="fn-left">省份：<span>江苏</span></p>
					<p class="fn-right">选择定金模式：<span class="red">定金</span></p>
				</div>
				<div class="tabs-list">
					<div class="order-titl fn-clear">
						<div class="tel-model fn-left">配置定金的订单列表</div>
						<div class="result-wrds fn-right"> <span class="red">校验结果：</span>Excel中共有<b class="red">100</b>条数据，其中<b class="red">98</b>条校验通过有效，<b class="red">2</b>条校验不通过无效，点击提交可以导入正确信息。</div>
					</div>
					<table width="100%" cellspacing="0" cellpadding="0" class="table">
						<thead>  
							<tr>
								<th width="8%">订单号</th>
								<th width="8%">零售商</th>
								<th width="8%">终端编码</th>
								<th width="15%">终端名称</th>
								<th width="8%">终端品牌</th>
								<th width="10%">终端型号</th>
								<th width="7%">产品类型</th>
								<th width="7%">订购数量</th>
								<th width="11%">供货商</th>
								<th width="7%">货款金额</th>
								<th>定金比例配置</th>						
							</tr>
						</thead>
						<tbody>
							<tr>						
								<td><a href="" class="red">11020300001</a></td>
								<td>11020300001</td>
								<td>11020300001</td>
								<td><p class="overflow-handle">VIVO-X20全面屏 美颜拍照手机</p></td>
								<td>VIVO</td>
								<td>VIVO-X20</td>
								<td>集采</td>
								<td>￥1890</td>
								<td><p class="overflow-handle">美颜拍照手机</p></td>
								<td>1890</td>
								<td><p><input type="text" value="1%"></p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="bottom-btns">
					<button class="confirm-btn">确定</button>
					<button class="reset-btn">重置</button>
				</div>
			</div>

			<!-- 第三步 -->
			<div class="third-step" >
				<div class="success fn-clear">
					<img src="../../resources/images/icon-success.png" class="suc-img fn-left">
					<div class="wrds fn-right">
						<p class="p1">订单的定金配置完成！</p> 
						<p class="p2">等待订货会进行或结束时到<span>定金管理</span>》<a href="" class="red">定金补录</a>查看结果。</p>
						<button class="button">继续定金配置</button>
					</div>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>